body{
    color: #1C1C1C;
    background-color: #FFFAF0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 17px;
    font-family: initial;
    border: none;
}

.menu ul {
    list-style: none;
    width: 100%;
    float: left;
    gap: 10px;
    background:#65318C;
    box-shadow: 1px 0px 1.2px 0px #e3e3e3;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.menu ul li a {    
    text-decoration:none;   
    color:#FFFAF0; 
    font-family: Verdana, Tahoma, sans-serif;
}

.menu ul li {    
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin: 4px 15px;
    padding: 0px;
    border-width: 0px 0px 3px 0px;    
    border-color:transparent;
    border-style:solid;
}

.menu ul li:hover a {    
    color: #fffaf0ff;
    border-width: 0px 0px 3px 0px;    
    border-color:#fffaf0ff;
    border-style:solid;
}
