body{
    color: #1C1C1C;
    background-color: #FFFAF0;
    font-family: Arial, Helvetica, sans-serif;
}

#logo2{
    width: 15%;   
}

.navbar-custom {
    background-color: #65318C;
}

.nav-link{
    color: #FFFAF0;
}


#aviso {
    padding: 42px;
}

h2 {
    font-size: 30px;
    padding: 18px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

h3 {
    font-size: 30px;
    padding: 18px;
}

h5 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.menu ul {
    list-style: none;
    width: 100%;
    float: left;
    padding: 15px 0px;
    gap: 10px;
    background: #65318C;
    box-shadow: 1px 0px 1.2px 0px #e3e3e3;
    display: flex;   
}

.menu ul li a {
    text-decoration: none;   
    color:#FFFAF0; 
    font-family: Verdana, Tahoma, sans-serif;
}

.menu ul li:hover a {    
    color: #fffaf0ff;
    border-width: 0px 0px 3px 0px;    
    border-color:#fffaf0ff;
    border-style:solid;
}

.menu ul li {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin: 4px 15px;
    border-width: 0px 0px 3px 0px;    
    border-color: transparent;
    border-style: solid;
}